@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #3b4369;
  color: white;
}

body,
button {
  font-family: 'Montserrat', sans-serif;
}
